/* App */ 
.App {
  background-color: #282c34;
}

/* Editor */
.editors {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
}

.containerE {
  display: flex;
}

.editor1 {
  margin-right: 25px;
  text-align: left;
}

.editor2 {
  text-align: left;
}


/* Files Table */
.files {
  height: 600px;
  background-color: #1e1e1e;
}

th {
  color: #EFEFEF;
  font-family: Arial, Helvetica, sans-serif;
  text-size-adjust: 100%;
}

tbody {
  color: #EFEFEF;
  font-family: Arial, Helvetica, sans-serif;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
}



/* Modals and Images*/
#svg-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.modalCSTgraph {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalSTablegraph {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalETablegraph {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Barrs */
/* Ocultar barras de desplazamiento en el body */
body {
  overflow: hidden;
}
